# Framework Django
Django==5.0.2

# Adaptador de PostgreSQL para Python
psycopg2-binary==2.9.9

# Variables de entorno
python-decouple==3.8

# Django REST Framework (opcional, para APIs)
djangorestframework==3.14.0

# Herramientas de desarrollo
django-debug-toolbar==4.3.0

dj-database-url==2.1.0

# Manejo de archivos estáticos en producción (opcional)
whitenoise==6.6.0
