{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login | MARE</title>

  <link rel="stylesheet" href="{% static 'css/usuarios/login.css' %}">

</head>

<body>

  <div class="login-box">

    <h1>MARE</h1>

    <p>Acceso administrativo</p>

    {% if messages %}
      <div class="error">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}

    <form method="post">

      {% csrf_token %}

      <label>Usuario</label>

      <input
        type="text"
        name="username"
        required
      >

      <label>Contraseña</label>

      <input
        type="password"
        name="password"
        required
      >

      <button type="submit">
        Iniciar sesión
      </button>

    </form>

  </div>

</body>
</html>